/**
 * Copyright 2022 lrshsl.
 * Use of this source code is governed by the WTFPL
 * license that can be found in the LICENSE file.
 */


.input_container {
    display: flex;
    justify-content: end;
    /* align-items: center; */
    width: 450px;
    margin: auto;
    padding: 20px;
}

.input_label {
    font-size: 200%;
    margin-inline: 10px;
}

input {
    background-color: #232323;
    color: white;
    border-style: none;
    border-radius: 20px;
}

form {
    margin-top: 40px;
    /* border: 2px dashed red; */
}

button {
    right: 30%;
}

.message {
    display: none; /* initially hide the message */
    color: red;
    padding: 20px;
  }
  
