<!-- not used, template -->

 <!DOCTYPE html>
 <html>
   <head>
     <link rel="stylesheet" href="../style/survey_page.css" />
     <script src="../scripts/question_generator.js"></script>
   </head>
   <body>
     <h1>Programming Survey</h1>
     <!DOCTYPE html>
    <form>
      <h2>Question 1</h2>
      <div>
        <input type="radio" name="question1" value="A" id="q1a" />
        <label for="q1a">Option A</label>
      </div>
      <div>
        <input type="radio" name="question1" value="B" id="q1b" />
        <label for="q1b">Option B</label>
      </div>
      <div>
        <input type="radio" name="question1" value="C" id="q1c" />
        <label for="q1c">Option C</label>
      </div>
      <div>
        <input type="radio" name="question1" value="D" id="q1d" />
        <label for="q1d">Option D</label>
      </div>
      <h2>Question 2</h2>
      <div>
        <input type="radio" name="question2" value="A" id="q2a" />
        <label for="q2a">Option A</label>
      </div>
      <div>
        <input type="radio" name="question2" value="B" id="q2b" />
        <label for="q2b">Option B</label>
      </div>
      <div>
        <input type="radio" name="question2" value="C" id="q2c" />
        <label for="q2c">Option C</label>
      </div>
      <div>
        <input type="radio" name="question2" value="D" id="q2d" />
        <label for="q2d">Option D</label>
      </div>
    </form>
    <button onclick="submitQuiz()">Submit Quiz</button>
  </body>
</html>
 